#left-div {
  background-color: #f9f9f9;
  border-bottom: 2px solid #f1f1f1;
  padding: 0;
}

.gc-logo-link {
  display: block;
  padding: 8px 15px 0 15px;
  background-color: #fff;
}

.sidebar {
  margin: 0;
  padding: 0 15px;
  list-style: none;
  border-top: 1px solid #ddd;

  li {
    display: block;
    padding: 2px 0;
  }

  a {
    text-decoration: none;
    padding: 4px 0;
    display: block;
    border-bottom: 1px solid #fff;
    color: #444;
  }
}

.sub-menu {
  margin: 0 0 0 15px;
  list-style: none;
  padding: 0;
}

.label {
  margin: 0;
  padding: 2px 15px;
  background-color: #f1f1f1;
  font-weight: 200;
  border-bottom: 0.5px solid #fff;
  border-top: 1px solid #ddd;
}